.react-calendar {
  width: 95%;
  box-shadow: none;
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 0 12px;
  border-radius: 8px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
}

.react-calendar__navigation button {
  background: none;
  /* color: #007bff; */
  color: #b3b3b3;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.react-calendar__tile {
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

.react-calendar__tile--active {
  background: #374a75;
  color: white;
  font-weight: bold;
}

.react-calendar__tile:hover {
  background-color: #f0f0f0;
}

/* 📌 Disable Past Dates */
.react-calendar__tile--disabled {
  color: #999;
  background: #e0e0e0;
  cursor: not-allowed;
}

.react-calendar__tile:nth-child(7n),
.react-calendar__tile:nth-child(7n-1) {
  color: #68b2dc;
}
.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

.react-calendar__month-view__days__day {
  width: 100%;
}
.react-calendar__month-view__weekdays__weekday {
  font-family: "Poppins";
  font-weight: 600;
}
