@tailwind utilities;
body {
  margin: 0;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.swiper-pagination {
  position: relative;
  width: 100% !important;
  bottom: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: gray;
  scale: 1.3;
}

#checkbox:checked + label span::before {
  content: "\2713";
  color: green;
  font-size: 16px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.slick-slide,
slick-active,
slick-current {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.slick-slide > div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
}
.slider-image {
  width: 135px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
@media (min-width: 1351px) {
  .legend-container {
    position: absolute;
    top: 100% !important;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024) {
  .legend-container {
    height: 70%;
  }
}
@media (max-width: 1351px) {
  .legend-container {
    height: 80%;
  }
}

.apexcharts-datalabel {
  font-size: clamp(8px, 1vw, 10px);
  white-space: collapse !important;
  text-align: center !important;
  text-anchor: middle;
  max-width: 100%;
  overflow: hidden;
}

@layer utilities {
  .gradient-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    scrollbar-width: thin;
  }

  .gradient-scrollbar::-webkit-scrollbar-track {
    background: #e5e7eb;
  }

  .gradient-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #23445b, #487ba0);
    border-radius: 9999px;
  }
}

.lux-svg-wrapper:hover .lux-sparkle {
  fill: none;
  stroke: #374a75;
  stroke-width: 1.2;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw-star 1.2s ease-out forwards;
}

.lux-sparkle:nth-of-type(2) {
  animation-delay: 0.2s;
}
.lux-sparkle:nth-of-type(3) {
  animation-delay: 0.4s;
}
.lux-sparkle:nth-of-type(4) {
  animation-delay: 0.6s;
}
.lux-sparkle:nth-of-type(6) {
  animation-delay: 0.8s;
}

@keyframes draw-star {
  to {
    stroke-dashoffset: 0;
    fill: #374a75;
  }
}
@keyframes blink-star {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.svg-wrapper:hover .svg-stroke {
  animation: blink-star 1.5s ease-in-out infinite;
}

@keyframes paintPath {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, -10px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.roller-container {
  display: inline-block;
  cursor: pointer;
}

.roller {
  transform-origin: center;
}

.group:hover .roller {
  animation: paintPath 1.5s ease-in-out infinite forwards;
}
