body {
  margin: 0; /* Remove body margin that may cause scrollbars */
  overflow-x: hidden; /* Prevent horizontal scrolling entirely */
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit; /* Ensure consistent box-sizing across elements */
}
.swiper {
  overflow-y: auto !important;
}

.swiper-pagination {
  position: relative;
  width: 100% !important;
  bottom: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: gray;
  scale: 1.3;
}
/* .service-card:hover ~ .service-card p {
  font-size: 10px;
} */

/*Login page css*/

#checkbox:checked + label span::before {
  content: "\2713"; /* Check mark */
  color: green;
  font-size: 16px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}
.bring-your-brand {
  position: relative;
  overflow: visible;
}

.horizontal-scroll {
  display: flex;
  will-change: transform;
}

/* Hide scrollbar for a clean UI */
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.slick-slide,
slick-active,
slick-current {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.slick-slide > div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
}
.slider-image {
  /* width: 100%; */
  width: 135px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
@media (min-width: 1351px) {
  .legend-container {
    position: absolute;
    top: 100% !important;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024) {
  .legend-container {
    height: 70%;
  }
}
@media (max-width: 1351px) {
  .legend-container {
    height: 80%;
  }
}

.apexcharts-datalabel {
  font-size: 45%;
}

.container-left {
  width: 100%;
  /* padding-left: 3rem !important 48px; */
  padding-right: 0 !important;
  margin-left: auto;
  /* margin-right: auto; */
}
.container-right {
  width: 100%;
  padding-right: 3rem !important /* 48px */;
  padding-left: 0 !important;
  /* margin-left: auto; */
  margin-right: auto;
}
@media (min-width: 640px) {
  .container-left,
  .container-right {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container-left,
  .container-right {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container-left,
  .container-right {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container-left,
  .container-right {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .container-left,
  .container-right {
    max-width: 1440px;
  }
}
@media (min-width: 1800px) {
  .container-left,
  .container-right {
    max-width: 1800px;
  }
}
