@tailwind base;
@tailwind components;
@tailwind utilities;

.book-tour-btn {
  position: fixed;
  right: -40px;
  top: 50%;
}

.glowing-circle {
  box-shadow: 0 0 8px rgba(52, 191, 173, 0.8), 0 0 15px rgba(52, 191, 173, 0.6);
  animation: pulse 1.5s infinite;
}

::selection {
  color: #304778;
  background-color: #f4f4f4;
}

.gradient-border {
  background: linear-gradient(to bottom, #ff7e5f, #feb47b, #ff7e5f);
  padding: 2px;
  border-radius: 0.5rem;
}

.gradient-border > .inner {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 8px rgba(52, 191, 173, 0.8),
      0 0 15px rgba(52, 191, 173, 0.6);
  }
  50% {
    box-shadow: 0 0 15px rgba(52, 191, 173, 0.8),
      0 0 25px rgba(52, 191, 173, 0.6);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #422a87;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #c4bfe4, #efe9ff);
  border-radius: 10px;
}

@media (min-width: 1800px) {
  .max-w-7xl {
    max-width: 1440px !important;
  }
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #77a9be;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 9999;
}
.no-scroll {
  height: 100vh;
  overflow: hidden !important;
}

.gold-text {
  background: linear-gradient(
    45deg,
    #ffd700,
    #ffc300,
    #ffb700,
    #ffaa1d,
    #ffd700
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
