@tailwind base;
@tailwind components;
@tailwind utilities;

.book-tour-btn {
  position: fixed;
  right: -40px;
  top: 50%;
}

.glowing-circle {
  box-shadow: 0 0 8px rgba(52, 191, 173, 0.8), 0 0 15px rgba(52, 191, 173, 0.6);
  animation: pulse 1.5s infinite;
}

::selection {
  color: #304778;
  background-color: #f4f4f4;
}

.gradient-border {
  background: linear-gradient(
    to bottom,
    #ff7e5f,
    #feb47b,
    #ff7e5f
  ); /* Customize as needed */
  padding: 2px; /* Border thickness */
  border-radius: 0.5rem; /* Optional: for rounded corners */
}

.gradient-border > .inner {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: inherit; /* Matches parent if you use rounded corners */
}

/* @media (min-width: 1536px) {
  .container {
    max-width: 1440px;
  }
} */

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 8px rgba(52, 191, 173, 0.8),
      0 0 15px rgba(52, 191, 173, 0.6);
  }
  50% {
    box-shadow: 0 0 15px rgba(52, 191, 173, 0.8),
      0 0 25px rgba(52, 191, 173, 0.6);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #422a87;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #c4bfe4, #efe9ff);
  border-radius: 10px;
}

/* @layer utilities {
  .bg-angular-gradient {
    background: conic-gradient(
      from 180deg at 10%,
      #62f2ee 0%,
      #5fffb6 54%,
      #d1ff89 60%,
      #55ffbf 66%,
      #78e7ff 72%,
      #73f1ee 86%
    );
  }
} */

@media (min-width: 1800px) {
  .max-w-7xl {
    max-width: 1440px !important;
    /* padding-left: 0 !important;
    padding-right: 0 !important; */
  }
}

/* body {
  cursor: none;
} */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #77a9be;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 9999;
}
.no-scroll {
  overflow: hidden;
}
